<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="MyDB" value="server=178.23.187.6,2433; uid=sa; pwd=turbo2023; database=SFA_BM; Language=British;max pool size=200" />
    <!--<add key="mydb" value="server=178.23.187.164,2344; uid=sa; pwd=Benchmark123; database=SFA_UAT170424; language=british;max pool size=200" />-->
    <!--<add key="mydb" value="server=150.129.119.234,2433; uid=turbosoft; pwd=turbo2020; database=SFA_DEMO; language=british;max pool size=200" />-->
    <add key="siteName" value="OTMPharmacy/" />
    <add key="WeekinYr" value="53" />
    <add key="MaxFileUpload" value="104857600" />
    <add key="address" value="http://localhost:9862/" />
    <add key="TyreGroupPSR" value="2" />
    <add key="InitiatorRole" value="FE" />
    <add key="CMSID" value="1" />
    <add key="NACEmail" value="maillyas683@gmail.com" />
    <add key="FeedbackUser" value="User" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="WebURL" value="BO_Digits/" />
	  <add key="ServiceBulkAssign" value="https://track.dev-ts.online/ServiceJob/Manage?userID=" />
	  <add key="QRCodeImageUrl" value="https://localhost:44363/" />
	  <add key="BackendURL" value="http://sfa-muom.dev-ts.online/"/>
	  <add key="LicenseURL" value="https://license.dev-ts.online/API/License/GetLicenseDetails"/>
	  <add key="LicenseKey" value="lWnXQTujzOO+47+I+R2DwPGbRpUjc6YrKrHTXU0ajIU="/>
	  <add key="DeffPass" value="User#123"/>
	  <add key="PushNotification" value="http://sfa-muom.dev-ts.online/WS/api/Firebase/PushMsgToToken"/>
  </appSettings>
  <!--<connectionStrings>
    --><!--<add name="ApplicationServices" connectionString="server=178.23.187.164,2344; uid=sa; pwd=Benchmark123; database=SFA_UAT170424; Language=British;max pool size=200;" />
    <add name="CMSEntities" connectionString="metadata=res://*/CMSContext.csdl|res://*/CMSContext.ssdl|res://*/CMSContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=178.23.187.164,2344;initial catalog=SFA_UAT170424;user id=sa;password=Benchmark123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />--><!--
    --><!--<add name="ApplicationServices" connectionString="server=150.129.119.234,2433; uid=turbosoft; pwd=turbo2020; database=SFA_DEMO; Language=British;max pool size=200;" />
    <add name="CMSEntities" connectionString="metadata=res://*/CMSContext.csdl|res://*/CMSContext.ssdl|res://*/CMSContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=150.129.119.234,2433;initial catalog=SFA_DEMO;user id=turbosoft;password=turbo2020;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />--><!--
    <add name="applicationservices" connectionString="server=178.23.187.6,2433; uid=sa; pwd=turbo2023; database=SFA_BM; language=british;max pool size=200;" />
    <add name="cmsentities" connectionString="metadata=res://*/cmscontext.csdl|res://*/cmscontext.ssdl|res://*/cmscontext.msl;provider=system.data.sqlclient;provider connection string=&quot;data source=178.23.187.6,2433;initial catalog=SFA_BM;user id=sa;password=turbo2023;multipleactiveresultsets=true;application name=entityframework&quot;" providerName="system.data.entityclient" />
	
  </connectionStrings>-->
	<connectionStrings>
		<remove name="LocalMySqlServer" />
		<add name="ApplicationServices" connectionString="server=178.23.187.6,2433; uid=sa; pwd=turbo2023; database=SFA_BM; Language=British;max pool size=200;" />
		<add name="CMSEntities" connectionString="metadata=res://*/CMSContext.csdl|res://*/CMSContext.ssdl|res://*/CMSContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=178.23.187.6,2433;initial catalog=SFA_BM;user id=sa;password=turbo2023;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.0" maxRequestLength="107374100" requestValidationMode="2.0" />
    <authentication mode="Forms">
      <!--<forms loginUrl="~/Login.aspx" timeout="2880" defaultUrl="~/Admin/AdminDashboard.aspx"  />-->
      <forms loginUrl="~/SignIn.aspx" timeout="2880" defaultUrl="~BO_Digits/ChartDashboard.aspx" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="true">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <siteMap>
      <providers>
        <remove name="MySqlSiteMapProvider" />
        <add name="cms" type="System.Web.XmlSiteMapProvider" siteMapFile="~/web.sitemap" />
      </providers>
    </siteMap>
    <httpHandlers>
      <add path="Telerik.Web.UI.DialogHandler.aspx" verb="*" type="Telerik.Web.UI.DialogHandler" validate="false" />
      <add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" validate="false" />
      <add name="ChartImage_axd" verb="*" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" validate="false" />
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false" />
      <add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false" />
    </httpHandlers>
    <pages validateRequest="false">
      <controls>
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
      </controls>
    </pages>
    <machineKey validationKey="170389BD9830E7F453B8B6BB895B3C10FC73E4A98C5E75DDCF8B629E3304A220E9213F0BC9A9AA1F7533E7F5E2F756392BCA68375D6C8F218396B695D01E63B9" decryptionKey="5953CC83C87636E1357B75E8DA60C356F2D599263ADCEA24" validation="SHA1" decryption="AES" />
    <sessionState mode="InProc" cookieless="false" timeout="30" />
    <httpModules />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" />
      <add name="ChartImage_axd" verb="*" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_DialogHandler_aspx" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <remove name="ChartImage_axd" />
      <remove name="Telerik_Web_UI_SpellCheckHandler_axd" />
      <remove name="Telerik_Web_UI_DialogHandler_aspx" />
      <remove name="Telerik_RadUploadProgressHandler_ashx" />
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode" />
    </handlers>
    <!--<defaultDocument>
      <files>
                <add value="Login.aspx" />
        <add value="~/Admin/AdminDashboard.aspx" />
      </files>
    </defaultDocument>-->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="107374100" />
      </requestFiltering>
    </security>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Windows.Zip" publicKeyToken="5803cfa389c90ce7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2020.2.615.40" newVersion="2020.2.615.40" />
      </dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
		</dependentAssembly>
		
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>